@page "/"
@inject HttpClient HttpClient
@inject ToDoListClient ToDoListClient
@inject NavigationManager NavManager


<PageTitle>Home</PageTitle>

@if(toDoLists is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Created-From</th>
                <th>Creation-Date</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            @foreach (var toDoList in toDoLists)
            {
                <tr @onclick="() => redirectToDetail(toDoList.Id)">
                    <td>@toDoList.Title</td>
                    <td>@toDoList.CreatedBy</td>
                    <td>@toDoList.Created.Day/@toDoList.Created.Month/@toDoList.Created.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<ToDoList>? toDoLists;
    protected override async Task OnInitializedAsync()
    {
        toDoLists = await ToDoListClient.GetAllAsync(HttpClient);
    }

    public void redirectToDetail(Guid id)
    {
        NavManager.NavigateTo($"/detail/{id}");
    }
}
