@page "/"
@using Shared.DTOS.ToDoLists.GetAll
@inject HttpClient HttpClient
@inject ToDoListClient ToDoListClient
@inject NavigationManager NavManager


<PageTitle>Home</PageTitle>

@if(response is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Created-From</th>
                <th>Creation-Date</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            @foreach (var toDoList in response)
            {
                <tr @onclick="() => redirectToDetail(toDoList.Id)">
                    <td>@toDoList.Title</td>
                    <td>@toDoList.CreatedBy</td>
                    <td>@toDoList.Created.Day/@toDoList.Created.Month/@toDoList.Created.Year</td>
                </tr>
                <a class="btn btn-warning flex-fill" href="/edit/@toDoList.Id">Modifica</a>
                <a class="btn btn-danger flex-fill" @onclick="() => deleteToDoList(toDoList.Id)">Elimina</a>
            }
        </tbody>
    </table>
}

@code {
    List<Response>? response;
    protected override async Task OnInitializedAsync()
    {
        response = await ToDoListClient.GetAllAsync(HttpClient);
    }

    public void redirectToDetail(Guid id)
    {
        NavManager.NavigateTo($"/detail/{id}");
    }

    public async void deleteToDoList(Guid id)
    {
        await ToDoListClient.DeleteToDoListAsync(HttpClient, id);
        NavManager.Refresh();
    }
}
