@page "/"
@using Shared.Entities
@inject HttpClient HttpClient
@inject ToDoListClient toDoListClient


<PageTitle>Home</PageTitle>

@if(toDoLists is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    @foreach (var toDoList in toDoLists)
    {
        <p>@toDoList.Title</p>
        <p>ciao</p>
    }
}

@code {
    List<ToDoList>? toDoLists;
    protected override async Task OnInitializedAsync()
    {
        toDoLists = await toDoListClient.GetAllAsync(HttpClient);
    }
}
